#base{
    width: 50vw;
    height: 70vw;
    border: 3px solid;
    justify-self: center;
    box-shadow: 5px 5px 5px #00000088;
    border-radius: 5vw;
    background-color: rgba(0, 0, 0, 0.123);
}
#base_tela{
    height: 10vw;
    width: 35vw;
    justify-self: center;
    margin-top: 7vw;
    border-radius: 2vw;
}
#tela{
    text-align: end;
    height: 12vw;
    width: 35vw;
    border-radius: 2vw;
    border: 2px solid gray;
    background-color: #80808042;
    font-size: 7vw;
}
#tela:disabled{
      opacity: 1 !important;
      color: black !important;
}
#btns_1{
    margin-top: 6vw;
    height: 8vw;
    width: 35vw;
    justify-self: start;
    border-radius: 2vw;
    margin-left: 7vw;
    display: inline-flex;
}
#btn_limpar{
    font-size: 4vw;
    background-color: orangered;
    justify-self: start;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_apagar{
    font-size: 4vw;
    background-color: orangered;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_porcent{
    font-size: 4vw;
    background-color: orangered;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}
#btn_div{
    font-size: 4vw;
    background-color: orangered;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}

#btns_2{
    margin-top: 1vw;
    height: 8vw;
    width: 35vw;
    justify-self: start;
    border-radius: 2vw;
    margin-left: 7vw;
    display: inline-flex;

}
#btn_7{
    font-size: 4vw;
    justify-self: start;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_8{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_9{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}
#btn_X{
    font-size: 4vw;
    background-color: orangered;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}

#btns_3{
    font-size: 4vw;
    margin-top: 1vw;
    height: 8vw;
    width: 35vw;
    justify-self: start;
    border-radius: 2vw;
    margin-left: 7vw;
    display: inline-flex;

}
#btn_4{
    font-size: 4vw;
    justify-self: start;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_5{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_6{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}
#btn_-{
    font-size: 4vw;
    background-color: orangered;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}

#btns_4{
    font-size: 4vw;
    margin-top: 1vw;
    height: 8vw;
    width: 35vw;
    justify-self: start;
    border-radius: 2vw;
    margin-left: 7vw;
    display: inline-flex;
}
#btn_1{
    font-size: 4vw;
    justify-self: start;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_2{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_3{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}
#btn_m{
    font-size: 4vw;
    background-color: orangered;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}
#btns_5{
    font-size: 4vw;
    margin-top: 1vw;
    height: 8vw;
    width: 35vw;
    justify-self: start;
    border-radius: 2vw;
    margin-left: 7vw;
    display: inline-flex;
}
#btn_on{
    font-size: 3vw;
    justify-self: start;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
    word-break: break-all;
}
#btn_0{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw;
}
#btn_v{
    font-size: 4vw;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}
#btn_v:disabled{
      opacity: 1 !important;
      color: black !important;
      border-color: black;
}
button:disabled{
      opacity: 1 !important;
      color: black !important;
      border-color: black;
      background-color: #80808042;
}
#btn_i{
    font-size: 4vw;
    background-color: orangered;
    margin-left: 1vw;
    height: 8vw;
    width: 8vw;
    border-radius: 2vw; 
}
@media(max-width: 600px){
#base{
    width: 40vw;
    height: 60vw;
}

}